/********** COLORS **********/

$color_magenta: #ff0080;
$color_pink: #fac0e1;
$color_blue_cornflower: #6495ed;
$color_blue_alice: #f0faff;
$color_blue_dodger: #e6eeff;
$color_blue_green: #00ffff;
$color_green_lime: #78fee0;
$color_green_caribbean: #3b9a9c;
$color_yellow_cape_honey: #fef4a9;
$color_orange_supernova: #ffb726;
$color_orange_atomic_tangerine: #ffa563;
$color_red_flamingo: #e64e4e;
$color_white: #ffffff;
$color_gray_95: #f2f2f2;
$color_gray_90: #e6e6e6;
$color_gray_75: #bfbfbf;
$color_gray_60: #999999;
$color_gray_50: #808080;
$color_gray_30: #4d4d4d;
$color_gray_10: #1a1a1a;
$color_black: #000000;

/********** REMOTE FONTS **********/

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/********** FONTS **********/

$font_sahel: "Sahel";
$font-roboto: "Roboto";
$font-default: sans-serif;
$font-all: $font-roboto, $font_sahel, $font-default;

/********** FONT FACES **********/

@font-face {
	font-family: "Sahel";
	font-style: normal;
	src: url(../assets/fonts/Sahel.ttf);
}

@font-face {
	font-family: "Sahel";
	font-style: bold;
	font-weight: 600;
	src: url(../assets/fonts/Sahel-Bold.ttf);
}

@font-face {
	font-family: "Sahel";
	font-style: bold;
	font-weight: 800;
	src: url(../assets/fonts/Sahel-Black.ttf);
}

/********** RESET **********/

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

html {
	background-color: $color_white;

	font-family: $font_all;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
