@import "_config.scss";

.button {
	width: fit-content;

	margin: 0 auto;
	padding: 2rem 10rem;

	border-radius: 4rem;

	font-size: 3.2rem;

	cursor: pointer;
}

.wrapper {
	display: grid;
	grid-template-columns: 62.5% 37.5%;
	grid-template-areas: "left right";

	width: 100vw;
	height: 100vh;

	.left {
		grid-area: left;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		border-radius: 6rem 0 0 6rem;

		text-align: center;

		&__title {
			color: $color_blue_cornflower;

			margin-bottom: 6rem;

			font-size: 7.2rem;
			font-weight: 700;

			letter-spacing: 0.28rem;
		}

		.input-box {
			background-color: $color_gray_95;

			display: grid;
			grid-template-columns: 1fr 7fr;
			grid-template-areas: "icon text";
			align-items: center;

			width: 50%;
			height: 8rem;

			margin-bottom: 3rem;
			padding: 1rem 2rem;

			border-radius: 2rem;

			cursor: text;

			&__icon {
				grid-area: icon;

				color: $color_gray_60;

				justify-self: center;

				* {
					font-size: 3.2rem;
				}
			}

			input {
				grid-area: text;

				background-color: transparent;
				color: $color_gray_10;

				height: 100%;

				padding: 0 2rem;

				border: none;

				font-size: 3.2rem;

				&::placeholder {
					color: $color_gray_60;
				}

				&::selection {
					background-color: $color_blue_cornflower;
					color: $color_white;
				}

				&:focus {
					outline: none;
				}
			}
		}

		.button {
			background-color: $color_blue_cornflower;
			color: $color_white;

			margin: 3rem auto 6rem;
		}
	}

	.right {
		grid-area: right;

		background-color: $color_blue_cornflower;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		border-radius: 6rem 0 0 6rem;

		text-align: center;

		&__title {
			color: $color_white;

			font-size: 4.8rem;
			font-weight: 700;

			letter-spacing: 0.28rem;
		}

		&__subtitle {
			color: $color_white;

			margin: 3.2rem auto 6rem;

			font-size: 3.2rem;
			font-weight: 300;

			line-height: 4.8rem;
			letter-spacing: 0.32rem;
		}

		.button {
			background-color: $color_white;
			color: $color_blue_cornflower;
		}
	}
}
